[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-spec = "*"
pytest-cov = "*"
"flake8" = "*"
isort = "*"
httpretty = "*"
djangorestframework = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
ipython = "*"
codecov = "*"
pluggy = "*"

[packages]
"e1839a8" = {path = ".", editable = true}
