[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-spec = "*"
pytest-sugar = "*"
pytest-cov = "*"


[packages]

django = "*"
pyjwkest = "*"
requests = "*"
