<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OIDC Login</title>
</head>
<body>
<script type="text/javascript">
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  var params = {}
  var hash = window.location.hash.substring(1);
  hash.split('&').map(hk => {
      let temp = hk.split('=');
        params[temp[0]] = temp[1]
    });

  // send data using POST so query isn't logged as advised in OIDC specs
  fetch(`${window.location.origin}${window.location.pathname}`, {
    method: "post",
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json',
      'X-CSRFToken': getCookie('csrftoken')
    },
    body: JSON.stringify(params)
  })
  .then( response => {
    if (response.status === 200){
      window.location = response.next_url ?? '{{success_redirect_url}}'
    } else {
      window.location = '{{failure_redirect_url}}'
    }
  })
</script>

</body>
</html>
